
.dividir {
  position: absolute;
  margin-top: 20px !important;
  left: 50%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #00bc9c;
  transition: all 0.2s ease;
  border-radius: 25px;
}
#inform_dividir{
  margin-top: 20%;
}
.dividir span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.dividir span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}

.dividir label {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}
label[for=sim] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for=nao] {
  position: absolute;
  right: 0px;
}
#nao:checked ~ .dividir {
  background: #eb4f37;
}
#nao:checked ~ .dividir span {
  background: #fff;
  margin-left: -8px;
}
#nao:checked ~ .dividir span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#sim:checked ~ .dividir label[for=sim] {
  color: #fff;
}
#nao:checked ~ .dividir label[for=nao] {
  color: #fff;
}

#sugest{
  background: linear-gradient(to bottom, #cfd4d7e6, #e3ededde) !important;
}
.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgb(70, 158, 70);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.fa-ring {
  color: #e1e131;
}